<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
    <title>Document</title>
</head>
<body>
<header class="page-header">
    <span><a href="{{url_for('home')}}"><img class="logo" src="{{url_for('static', filename='img/buscape.png')}}"></a></span>
</header>

<section id="carrinho" class="fundo_carrinho">
    {%for Item in carrinhoCompras%}
        <div class='carrinho'>
            {%for Images in Item.lista_imagens%}
                <div class="carrinho_borda">
                    <img class="Cfotos" src="{{url_for('static',filename=Images.link)}}">
                </div>
            {%endfor%}
            <div class="info_padding">
                <p class="mod">{{Item.nome}}</p>
                <p>{{Item.parcela}}x R$ {{Item.valorParcela}}</p>
                <p>ou R$ {{Item.valorAvista}} à vista</p>
                <button class="remover"><a id="remover" href="{{url_for('remover', id = Item.id)}}"  class="remover">Excluir</a></button>
            </div>
            
        </div>
    {%endfor%}
    </section>
</section>
<div class="container">
    {%for Item in itens_lista%}
        <div id="{{Item.id}}" class="item_catalogo">
            {%for Images in Item.lista_imagens%}
                <div class ="item_borda">
                    <img class='fotos' src="{{url_for('static', filename=Images.link)}}">
                </div>
            {%endfor%}
            <div class="info_padding">
                <p class="produto_nome">{{Item.nome}}</p>
                <p> <span class="verde"> {{Item.parcela}}x  R${{Item.valorParcela}}</span></p>
                <p>ou <span class="verde">R${{Item.valorAvista}}</span> à vista</p>
                <form class="form" method="POST" action="/adicionar">
                    <input name="id" style="visibility: hidden;"  value="{{Item.id}}"></input>
                    <input onclick="return inserir()" value="Adicionar ao carrinho >" type="submit"></input>
                </form>
            </div>
        </div>
    {%endfor%}
</div>
</body>
</html>