body{
    margin: 0px;}

/*carrinho*/   
.fundo_carrinho{background-color: rgb(255, 137, 35);
}

.logo{
    width: 50px;
}

.mod{color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.page-header{
    background-color: #ffff00;
}
.carrinho{
    display: inline-flex;
    height: auto;
    width: 99%;
    background-color: gold;
    border-style: groove;
    border: 1px solid gray ;
    border-radius: 2px;
    margin: 5px;

}
.carrinho_borda{ border: solid 1px;
    background-color: white;
    width: 200px;
}
.Cfotos{
    max-width: 200px;
    max-height: 150px;
    height: auto;
    width: auto;
    
}

.form{float: right;}

.remover a:link{
    text-decoration: none;
    
}
.remover a:visited{text-decoration: none;
color: black;}
/*Catalogo*/
.container{
    display: inline-block;
    width: 100%;
}
.item_borda {
  border: solid 1px;
  width: 150px;
  background-color: white;
}
.item_catalogo {
    display: inline-flex;
    height: auto;
    width: 99%;
    background-color: white;
    border-style: groove;
    border: 1px solid gray ;
    border-radius: 2px;
    margin: 5px;

}
.item_catalogo p{
    display:block;
    width: 100%;
    margin: 0px;
}
.fotos{
    max-height: 100px;
    height: auto;
    width: 150px;

}
.produto_nome{
    font-family: times new roman;
    font-size:20px;
    color: rgb(56, 56, 56);
    font-weight: bold;
}

.verde{
    color: green
}
.info_padding{
    padding: 3px;
    width: 100%;
}