body{
    margin: 0px;}

/*carrinho*/    
.logo{
    width: 50px;
}

.page-header{
    background-color: #ffff00;
}
.carrinho{
    display: inline-flex;
    height: auto;
    width: 99%;
    background-color: gold;
    border-style: groove;
    border: 1px solid gray ;
    border-radius: 2px;
    margin: 5px;

}
.carrinho_borda{ border: solid 1px;
    width: 200px;
    background-color: white;
    width: 150px;
    }
.Cfotos{
    height: 100px;
    width: auto;
    
}
    
/*Catalogo*/
.container{
    display: inline-block;
    width: 100%;
}
.item_borda {
  border: solid 1px;
  width: 200px;
  background-color: white;
}
.item_catalogo {
    display: inline-flex;
    height: auto;
    width: 99%;
    background-color: white;
    border-style: groove;
    border: 1px solid gray ;
    border-radius: 2px;
    margin: 5px;

}
.item_catalogo p{
    display:block;
    width: 100%;
    margin: 0px;
}
.fotos{
    height: 100px;
    width: auto;

}
.produto_nome{
    font-family: times new roman;
    font-size:20px;
    color: rgb(56, 56, 56);
    font-weight: bold;
}

.verde{
    color: green
}
.info_padding{
    padding: 3px;
}